@model MakeABoard.Models.BoardModel

<head>
    <title>Board.cshtml</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            width: 33.333%;
            border: 6px solid #222;
            
        }

            td::after {
                content: "";
                display: block;
                margin-top: 100%;
            }

        td {
            border: 6px solid #222;
        }

            td:first-of-type {
                border-left-color: transparent;
                border-top-color: transparent;
            }

            td:nth-of-type(2) {
                border-top-color: transparent;
            }

            td:nth-of-type(3) {
                border-right-color: transparent;
                border-top-color: transparent;
            }

        tr:nth-of-type(3) td {
            border-bottom-color: transparent;
        }
    </style>
</head>
<h4>BoardModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Board">
            <h1>Board/Board</h1>
            <table id="board">
                <tr>
                    <td><div>
                        @{if (Model.GetMark(Model.GameBoard[0, 0]) == "X")
                               { <img src="/images/XMark.jpg" alt="XMark" />}
                         else if (Model.GetMark(Model.GameBoard[0, 0]) == "O")
                                 { <img src="/images/OMark.jpg" alt="OMark" />}
                         else
                               { <a asp-controller="Board" asp-action="Cell00">Move</a> }
                         }
                         </div>
                        <div class="form-group">
                            <input type="submit" value="Cell-0-0" class="btn btn-primary" />click
                        </div>
                        <div>
                            <a asp-controller="Board" asp-action="Cell00">Move</a>
                        </div>
                    </td>
                    <td>
                        @{if (Model.GetMark(Model.GameBoard[0, 1]) == "X")
                            { <img src="/images/XMark.jpg" alt="XMark" />}
                            else if (Model.GetMark(Model.GameBoard[0, 1]) == "O")
                            { <img src="/images/OMark.jpg" alt="OMark" />}
                            else
                            { <a asp-controller="Board" asp-action="Cell01">Move</a>}
                                        }
                                    </td>
                    <td>
                        @{if (Model.GetMark(Model.GameBoard[0, 2]) == "X")
                            { <img src="/images/XMark.jpg" alt="XMark" />}
                            else if (Model.GetMark(Model.GameBoard[0, 2]) == "O")
                            { <img src="/images/OMark.jpg" alt="OMark" />}
                            else
                            { <a asp-controller="Board" asp-action="Cell02">Move</a>}
                         }
                    </td>
                </tr>
                <tr>
                    <td>@Model.GetMark(Model.GameBoard[1, 0])</td>
                    <td>@Model.GetMark(Model.GameBoard[1, 1])</td>
                    <td>@Model.GetMark(Model.GameBoard[1, 2])</td>
                </tr>
                <tr>
                    <td>@Model.GetMark(Model.GameBoard[2, 0])</td>
                    <td>@Model.GetMark(Model.GameBoard[2, 1])</td>
                    <td>@Model.GetMark(Model.GameBoard[2, 2])</td>
                </tr>
            </table>

            <!--
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            -->

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
